*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
header{
    background-image: url(photos/background.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.container{
    padding: 1% 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
}
a{
    color:black;
    font-size: 16px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section{
    background-color: #E8E7E3;
}
.header-text{
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
} 
span{
    display: block;
    color: #7b7b7b;
}
p{
    padding: 1%;
    font-size: 20px;
}
h2{
    font-size: 30px;
}
footer{
    background-color: #7b7b7b;
}
section ul li{
    font-size: 20px;
}
.skills{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 2%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    padding-top: 2%;
}
input,textarea{
    width:65vw;
    border-radius: 4px;
    background-color: #ffffff;
    border-color: #7b7b7b;
}
input[type="text"]{
    height: 5vh;
}
input[type="submit"]{
    width:25vw;
    height: 2vw;
}
textarea{
    height: 20vh;
    border: 2px solid #7b7b7b;
}
input[type="submit"]:hover{
    background-color: #7b7b7b;
    color: white;
    border-color: white;
    border-width: 1%;
}
img{
    width:300px;
    height: 200px;
    border-radius: 10px;
}
.skill-grid{
    background-color: #ffffff;
    border-radius: 10px;
}
#Aboutme,#Education{
    background-color: #f8f8f8;
}
section i{
    color: #7b7b7b;
}
section i:hover{
    color: rgb(68, 128, 232);
}
.skill-grid:hover{
    scale: 1.1;
}
