*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    width:100%;
    background-image: url(photos/background.png);
    background-size:cover;
}
.container{
    padding: 1% 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
li{
    display:inline-block;
    margin-left: 3;
}
a{
    color:black;
    font-size: 16px;
}
section{
    background-color: #7B7B7B;
}
.header-text{
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
}
.skills  div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}
img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}
span{
    display: block;
}
p{
    padding: 1%;
    font-size: 20px;
}
h2{
    font-size: 30px;
}