*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
header{
    height: 10vh;
}
section .header-content{

    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}
.header-image{
    width:50%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
.container{
    padding: 1% 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
}
a{
    color:black;
    font-size: 16px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section{
    background-color: #E8E7E3;
}
.header-text{
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 30px;
    width:50%;
}
.img1 img{
    height:80vh;
    width:45vw;
}
.header-text h1{
    font-size: 60px;
    padding-left:5%;
} 
.header-text p{
    padding-left: 5%;
}
span{
    display: block;
    color: #7b7b7b;
}
p{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
}
h2{
    font-size: 30px;
}
footer{
    background-color: #7b7b7b;
    height: 7vh;
}
section ul li{
    font-size: 20px;
}
.skills{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 2%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    padding-top: 2%;
    padding-left:1%;
}
input,textarea{
    width:65vw;
    border-radius: 4px;
    background-color: #ffffff;
    border-color: #7b7b7b;
}
input[type="text"]{
    height: 5vh;
    padding-left: 1%;
}
input[type="submit"]{
    width:25vw;
    height: 2vw;
    background-color: #7b7b7b;
    color: #ffffff;
    border-color: white;

}
textarea{
    height: 20vh;
    border: 2px solid #7b7b7b;
    padding-left: 1%;
}
input[type="submit"]:hover{
    border-width: 1%;
}
.image img{
    width:300px;
    height: 200px;
    border-radius: 10px;
}
.skill-grid{
    background-color: #ffffff;
    border-radius: 10px;
}
#Aboutme,#Education{
    background-color: #f8f8f8;
}
section i{
    color: #7b7b7b;
}
section i:hover{
    color: rgb(68, 128, 232);
}
.skill-grid:hover{
    scale: 1.1;
}
